InheritParentConfig: true
Checks: '
-facebook-arfx-enum-containers-check,
-facebook-hte-CArray,
-facebook-hte-NullableReturn,
-bugprone-easily-swappable-parameters,
-bugprone-exception-escape,
-clang-diagnostic-missing-designated-field-initializers,
-clang-diagnostic-missing-field-initializers,
-misc-misplaced-const,
-modernize-use-using,
-readability-braces-around-statements,
'
